:root {
    --keyboard-bg: #fff;
    --color-white: #fff;
    --keyboard-border: #036fc7;
    --key-bg: #fff0f0;
    --key-border: #b18597;
    --accent-key-bg: #eec729;
    --accent-key-bg-hover: #e8be12;
    --accent-text: #ffd900;
}
